@CHARSET "ISO-8859-1";
html,body,#map-canvas {
	height: 600px;
	width: 600px;
}

#directions-panel {
	height: 100%;
	width: 390px;
}

#control {
	background: #fff;
	padding: 5px;
	font-size: 14px;
	font-family: Arial;
	border: 1px solid #ccc;
	box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
	display: none;
}

@media print {
	#map-canvas {
		height: 500px;
		margin: 0;
	}
	#directions-panel {
		float: none;
		width: auto;
	}
}